body {
    background-image: url('../media/Pokemon_Juego_Fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
}

#game {
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bioma,
#pokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.Pokearea {
    border: 3px double gray;
    border-radius: 5px;
    width: 10rem;
    height: 10rem;
}

.drop-area {
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    /* alinear al centro en vertical y horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.droptarget {
    cursor: move;
}

.pokemon {
    width: 10rem;
    height: 10rem;
}

.drop-area p {
    margin-top: 10rem;
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}