/* incluir la fuente  */
@font-face {
    font-family: 'Aquarius';
    src: url('../fonts/Aquarius-RegularMono.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

#pokeClock {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#pokeClock-Timer {
    position: absolute;
    top: -23px;
    right: 0;
    font-size: 25px;
    position: absolute;
    font-family: 'Aquarius';
    color: #508050;
}