body {
    background-image: url('../media/Pokemon_Juego_Fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
}

#game {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#bioma,
#pokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.Pokearea {
    border: 3px double gray;
    width: 10rem;
    height: 10rem;
}

.drop-area {
    border: 2px solid white;
    text-align: center;
    /* alinear al centro en vertical y horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.droptarget {
    cursor: move;
}

img {
    width: 100%;
    height: 100%;
    text-align: center;
}
